{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dmytro Tkach</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&family=Russo+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    

    <link  id="theme-style" rel="stylesheet" href="">
    
    <!--<link id="theme-style" rel="stylesheet" href="green.css">

    <link id="theme-style" rel="stylesheet" href="purple.css">-->

</head>
<body>
    
    <section class="s1">

        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm {{ profile }}</h1>
            </div>
    
            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot"></div>
                        <div id="dot-2" class="browser-dot"></div>
                        <div id="dot-3" class="browser-dot"></div>
                    </div>

                    <ul id="navigation">
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="left-column">
                    <img id="profile-pic" src="{{ profile.profile_img.url }}">
                    <h5 style="text-align: center; line-height: 0;">Personalize Theme</h5>

                    <div id="theme-options-wrapper">
                        <div data-mode="light" id="light-mode"  class="theme-dot"></div>
                        <div data-mode="blue" id="blue-mode"  class="theme-dot"></div>  
                        <div data-mode="green" id="green-mode" class="theme-dot"></div>
                        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                    </div>

                    <p id="settings-note">*Theme settings will be saved for <br> your next visit</p>
                </div>

                <div class="right-column">
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <h3>What I do</h3>
                            <p>{{ profile.what_I_do }}</p>
                            <div id="corner-br" class="corner"></div>
                            <div id="corner-bl" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="main-container">

            <div class="about-wrapper">
                <div class="about-me">
                    <div id="content-about">
                        <h4>More about me</h4>
                        {% for sentence in profile.about_set.all %}
                            {% if sentence.hidden == False %}
                                <p>{{ sentence }}</p>
                            {% else %}
                                <p>{{ sentence }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a id="show-more">Show more</a>
                    
                    <hr>
                    
                    <h4>TOP EXPERTISE</h4>
                    
                    <p>{{ profile.expertise_set.all.0.text }} <a target="_blanck" href="{{ profile.expertise_set.all.0.cv.url }}">Download Resume</a></p>
                    <div id="skills">
                        <ul>
                            {% for skill in left_skills %}
                                <li>{{ skill }}</li>
                            {% endfor %}
                        </ul>

                        <ul>
                            {% for skill in right_skills %}
                                <li>{{ skill }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="achievements">
                        <h4 style="margin-bottom: 10px;">Some achievements</h4>
                        <p>
                            {% for achievement in profile.achievement_set.all %}
                                <a target="_blank" href="{{ achievement.pdf.url }}" style="margin-top: 10px; display: block; ">{{ achievement }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <!--<a style="font-size: 30px;" id="more-achievements">...</a>-->
                </div>

                <div class="social-links">
                    <img id="social_img" src="{% static 'img/linkedln_github.jpg' %}" alt="">
                    <h3 style="margin-bottom: 10px;">Find me on GitHub & Linkedln</h3>
                    <p>
                        <a target="_blank" href="https://github.com/dimatkach11" style="margin-top: 10px; display: block; ">GitHub: Dmytro Tkach</a><br>
                        You must to be logged in your "Linkedln" account before open the link bellow. <br>
                        <a target="_blank" href="https://www.linkedin.com/in/dmytrotkach">Linkedln: Dmytro Tkach</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="s1">
        <div class="main-container">
            <h2 style="text-align: center;">Some projects</h2>

            <div class="post-wrapper">
                {% for project in profile.project_set.all %}
                <div>
                    <div class="post">
                        <img class="thumbnail" src="{{ project.image.url }}" alt="">
                        <div class="post-preview">
                            <h6 class="post-title">{{ project }}</h6>
                            <p class="post-intro">{{ project.description }}</p>
                            <a target="_blank" href="{{ project.url.url }}">See the project</a>
                            <p class="post-intro">or</p>
                            <a target="_blank" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <section class="s2">
        <div class="main-container">
            <h3 style="text-align: center;">Get In Touch</h3>

            {% if message_name %}
                <div id="message">
                    <button id='btn-close'>Close</button>
                    <h3 style="color: {{ color }};">{{ message_name }}</h3>
                    <h4 style="color: black;">{{ message_email }}</h4>
                    <h5 style="color: {{ color_chek }};">{{ check_mail }}</h5>
                </div>
                <script src="{% static 'js/script_hidden.js' %}"></script>
            {% endif %}

            <form id="contact-form" method="POST" action="#contact">
                <a name="contact"></a>
                {% csrf_token %}
                <label for="">Name</label>
                <input class="input-field" type="text" name="message-name" required>

                <label for="">Subject</label>
                <input class="input-field" type="text" name="message-subject" required>

                <label for="">Email</label>
                <input class="input-field" type="text" name="message-email" required>

                <label for="">Message</label>
                <textarea name="message" class="input-field" required></textarea>

                <input id="submit-btn" type="submit" value="send">
            </form>
        </div>
    </section>
    

    
    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>
